.wrapper {
    width: 100%;
    max-width: 500px;
    // margin: 0 12px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.image {
    width: 100%;
    

    img {
        width: 100%;
        border-radius: 8px;
    }
}

.info {
    width: 100%;
    white-space: nowrap;
    margin: 12px 0 0;
    
    .title_price {
        color: #202020;
        font-size: 18px;
        font-weight: 600;

        display: flex;
        justify-content: space-between;
    }

    .subtitle {
        color:#B7B7B7;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        border-bottom: 1px solid rgba(238, 238, 238, 0.50);
        padding-bottom: 12px;
    }
}


