.head_title {
    height: 64px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 12px;

    .header_absolute {
        width: 100%;
        // max-width: 500px;
        background-color: #fff;
        padding: 20px 16px;
        box-sizing: border-box;
        
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        z-index: 1000;
        svg {
            margin-right: 12px;
        }
    
        span {
            color: #202020;
            font-size: 20px;
            font-weight: 600;
        }
    }

}

.wrapper {
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 94, 0, 0.182);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 16px 16px;
}

.wrapper_inner {
    width: 100%;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
        margin-top: 0;
    }
}

.arrows {
    position:absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    padding: 0 8px;
    box-sizing: border-box;

    .arrow {
        width: 32px;
        height: 32px;
        background-color: rgba(0, 0, 0, 0.40);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}

.bikes_swaiper {
    display: flex;
    justify-content: center;
    position: absolute;
    align-self: flex-end;
    margin: 0 8px 8px 6px;

    div {
        border-radius: 8px;
        border: 1px solid rgba(231, 231, 231, 0.20);
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(4px);
        padding: 5px 8px;
        margin: 0 3px 0 2px;

        color: white;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px; 
    }

    .active {
        border: 1px solid white;
        font-weight: 500;
    }
}

.image {
    width: 100%;
    display: flex;
    align-items: center;

    img {
        width: 100%;
        border-radius: 8px;
    }
}

.image_attention {
    color: #B7B7B7;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    margin-top: 10px;
    display: flex;

    span {
        &:first-child {
            margin-right: 2px;
        }
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;

    color: #202020;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    
    span {
        margin-right: 4px;
    }
    svg {
        margin-bottom: -1px;
    }
}


.calendar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-top: 16px;

    .calendar_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 49%;
        

        .c_title {
            color: #B7B7B7;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 2px;
        }

        .input {
            box-sizing: border-box;
            width: 100%;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            border: 1px solid #DFDFDF;
            background: #FFF;

            span {
                color: #B7B7B7;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.15px;
            }
        }
    }
}


.items {
    width: 100%;
    // margin-top: 16px;

    display: flex;
    justify-content: space-between;
    div {
        padding: 8px 10px;
        box-sizing: border-box;
        color:  #202020;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        // width: 24%;

        border-radius: 5px;
        border: 1px solid #D5D5D5;
        background:  #FFF;
    }

    .active {
        border-radius: 5px;
        background: #54667A;
        color: white;
    }
}


.items_flex_start {
        width: 100%;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        display: flex;
        justify-content:flex-start;
        

        div {
            padding: 8px 10px;
            box-sizing: border-box;
            color:  #202020;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.15px;
            margin: 0px 5px;

            border-radius: 5px;
            border: 1px solid #D5D5D5;
            background:  #FFF;

            &:first-child {
                margin-left: 0;
            }
        }

        .active {
            border-radius: 5px;
            background: #54667A;
            color: white;
        }
    }


.items_options {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    div {
        padding: 8px 10px;
        box-sizing: border-box;
        color:  #202020;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        margin: 0px 5px;

        border-radius: 5px;
        border: 1px solid #D5D5D5;
        background:  #FFF;

        &:first-child {
            margin-left: 0;
        }
    }

    .active {
        border-radius: 5px;
        background: #54667A;
        color: white;
    }
}




.footer {
    width: 100%;
    height: 66;

    .footer_inner {
        width: 100%;
        height: 66;
        padding: 16px;
        box-sizing: border-box;
        div {
            width: 100%;
            height: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 5px;
            background: #54667A;
            box-shadow: 0px 0px 15px 0px rgba(20, 20, 20, 0.05);
    
            font-size: 14px;
            font-weight: 500;
        }
    }


}

